body, html{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    min-width: 320px;
}

img{
    max-width: 100%; /* 사이즈가 변했을 때 넓이를 유지 */
    height: auto;   /* 넓이에 따라 높이가 변함 */
    margin: 0 auto;

}
textarea, button, select{
    -webkit-appearance: none;   /* 브라우저별로 고유하게 적용되는 form관련 요소들의 css제거 */
    -moz-appearance: none;
    -o-appearance: none;
    box-shadow: none;
}
section{
    background-color: rgb(250, 250, 250);
}
.login-wrap{
    margin: auto;
    overflow: hidden;

    width: 100%;
    height: 500px;
}
.login-wrap2{
    margin-left: 30%;
    display: inline-block;
    padding: 10px;
    width: 40%;
    height: 100%;
}

.idpw {
    padding-top: 10%;
    width: 100%;
    margin: 0 auto;
    font-weight: bolder;
}
.idpw > .id {
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
    padding: 0;
    border: 2px solid rgb(240, 220, 220);
}
.idpw > .pw {
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
    padding: 0;
    border: 2px solid rgb(240, 220, 220);
}
.login, .kakaologin {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgb(240, 220, 220);
    border-color: rgb(240,220,220);
    color: #5f1e09f1;
}

.login-form {
    width: 100%;
    margin: 0 auto;
}
.login-form > input {
    font-weight: bolder;
}
.idpwfind {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 15px;
}
.idpwfind > .join {
    float: right;
}

button {
    background-color: white;
    border: none;
}


