/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: 'KoreanFrenchTypewriter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/KoreanFrenchTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 나눔바른고딕 */
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

/* 사이드바 서비스 */
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 1. 디자인 시작시 기본 선언 */
* {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    min-width: 320px;
}

/* 브라우저별로 고유하게 적용되는 form관련 요소들의 css제거 */
textarea, button, select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;

}

ul, li, dl, ol{
    list-style: none; /* 순서 요소들의 리스트 스타일 제거 */
}

/* 진호) 문제가 될 수 있을 거 같아서 주석했어~*/
/* .col-xs-12{
    margin-top: 20px;
    margin-bottom: 20px;
} 
img{
    max-width: 100%; /* 사이즈가 변했을 때 넓이를 유지 */
    /* height: auto;   /* 넓이에 따라 높이가 변함 */
    /* margin: 0 auto;

} */

/* 백그라운드 */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

/* 헤더영역 */
header{
     display:flex;
     justify-content: space-between;
     align-items: center;
     background-color: black;
     flex-direction: row;
     flex-wrap: wrap;

}

header .header-logo {
    font-size: 30px;
    color: white;
    padding-left: 90px;
}

.header-logo a {
    color: rgb(238,224,219);
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

.header-logo a:hover {
    color: rgb(238,224,219);
}

header .header-user {
    display: flex; 
}

header .header-user li {
    padding: 8px 12px;
}

header .header-user li a{
    color: white;
}

.main-wide img{
    width: 100%;
    height: 400px;
}

.header-button{
    display: flex;
    width: 100%;
    background-color:#5f1e09f1 ;
    justify-content: space-around;
    align-items: center;
    padding: 0 200px;
    height: 70px;
}

.header-button > .menu-button{
    height: 100%;
}

.header-button a {
    color:white;
    display: block;
    height: 100%;
}

.header-button a:hover{
    color: white;
    text-decoration: none;
}

.header-button a span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 100%;
}

.wide-search button{
    background-color:#5f1e09f1;
    width: 30px;
}
.wide-search button i {
    color: white;
}


/* side bar */ 

input[id="menuicon"]{
    display:none;
}

input[id="menuicon"] +label{
    display: block;
    width: 60px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

input[id="menuicon"]+label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1){
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3){
    bottom: 0;
}

input[id="menuicon"]:checked +label span:nth-child(1){
    top: 50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked +label span:nth-child(2){
    opacity: 0;  
}

input[id="menuicon"]:checked +label span:nth-child(3){
    bottom: 50%;
    transform:translateY(50%) rotate(-45deg);  
}

.sidebar{
    width: 250px;
    height: 100%;
    background-color:white ;
    position: fixed;
    top: 0;
    right: -250px;
    z-index: 999;
    transition: all .35s;
    font-size: 10px;
}

input[id="menuicon"]:checked+label+div{
    right: 0;
}

input[id="menuicon"]+label{
    display: block;
    width: 25px;
    height: 20px;
    position: fixed;
    right: 0;
    top:calc(50% - 25px);
    transition:all .35s;
    cursor:pointer;
}

input[id="menuicon"]:checked+label{
    z-index: 2;
    right: 250px;
}

.sidebar{
    padding-left:15px ;
}

.sidebar-product{
    display: flex;
    flex-wrap: wrap;
}

.sidebar-img{
    border: 1px solid #777;
    height: 100px;
    width: 45%;
    margin: 2px 2px;
}

.sidebar-img a img{
    width: 100%;
    height: 100%;
}

.sidebar-service{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.sidebar-service span{
    display: block;
    font-size: 35px;
    font-family: 'BMJUA';
}

.sidebar-bottom{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.sidebar-bottom a i{
    width: 30px;
    padding-top: 5px;
    font-size: 30px;
}

.sidebar .idpwfind{
    margin-top: 10px;

}

.sidebar .login-form{
    margin-top: 10px;
}
.sidebar .idpw .id,
.sidebar .idpw .pw{
    width:20%
}


@media(max-width:768px){

 input[id="menuicon"]+label{
     display: none;
 }
    .sidebar{
        display: none;
    }
}


/* 햄버거버튼 */
.ham-container{
    position: absolute;
    top: 15px;
    right: 9px;
}
.hamBtn{
    position: relative;
    transition: .35 ease-in-out;
    width: 25px;
    height: 19px;
    display: none;
    right: 9px;
}
.hamBtn span{
    position: absolute;
    height: 6px;
    border-radius: 4px;
    width: 100%;
    background-color: #3d4146;
    top: 0;
    transition: 0.2s;
    

}

.hamBtn span:nth-child(1){
    top: 0;
}
.hamBtn span:nth-child(2),
.hamBtn span:nth-child(3){
    top: 10px;
}
.hamBtn span:nth-child(4){
    top: 20px;
}

.hamBtn.active span:nth-child(1),
.hamBtn.active span:nth-child(4){
    opacity: 0;
}
.hamBtn.active span:nth-child(2){
    transform:rotate(45deg);
}
.hamBtn.active span:nth-child(3){
    transform:rotate(-45deg);
}
@media(max-width:768px){
    header{
        flex-direction: column;
        align-items: flex-start;
        padding:8px 15px;
    }
    header .header-logo{
        padding-left: 20px;
    }

    header .header-user{
 
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 5px;
        transition: .35 ease-in-out;

    }
    header .header-user li{
        width: 15%;
        
        align-self: flex-end;
       
    }
    header .header-user li a{
        justify-content: flex-end;
        display: flex;
        
    }
    .hamBtn{
        display: block;
    }
    header .header-user.active{
        display:flex;
        
    }
  
    
}

/* Main */

/* 메인 탑 */
.topImg img{
 height: 35em;
 margin-bottom: 8em;
}
.topImg{
    display: flex;
    justify-content: center;
}

/* 메인 search */

.wide-search{
    display: flex;
    margin-top: -7em;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5em;
}

.wide-search p{
 text-align: center;
}

.wide-input{
    display: flex;
    justify-content: center;
    
}


/* 메인 info */
.body-info{
    padding: 3rem  4.5rem;
}

.body-info-inner{
    display: flex;
    justify-content: center;
    
}
.info-img{
    display: flex;
    justify-content: center;
}
.info-img img{
    height: 15em;
}

.main-info2{
    margin-top: -5em;
    display: flex;
    flex-direction: column;
}
.startBtn{
    align-self: center;
    margin-top: 15px;
    
}

.brownline{

    width: 40px;
    height: 5px;
    background-color: brown;
}

/* 인포 라인 */
.info-line1{
    height: 100px;
}
.info-line2{
    height: 100px;
}


/* 메인 slider */
.carousel-inner .item a img{
    height: 20em;
    width: 15em;
}
.main-slider{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

/* 메인 review */
.body-review-inner{
    background-color: rgb(240,220,220);
}
.review{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}


/* 메인 맵 */

.k-border{
    border: 1px solid #888;
    margin: 5px 5px;
    overflow: hidden;
    padding-top: 30px ;
    padding-bottom: 30px;
}

/* footer */
footer{
    padding: 0;
    margin-top: 50px;
    background-color: #5f1e09f1;
    width: 100%;
    color: wheat;
    display: flex;
    height: 150px;
}
.footer-container{
    width: 100%;
}

footer .footer-menu > .footer-menu-inner li{
    display: inline-block;
    border-left: solid 1px #777;
}

footer .footer-menu{
    background-color:#3f1709f1 ;
}

footer .footer-menu > li > a{
    display: block;
    padding: 0px 15px;
    
}
.copyright{
  text-align: center;
    
}

/* .table {
    width: 450px;
    height: 700px;
    border-color: 1px #777 solid;
    float: left;
    padding-top: 150px;
    padding-left: 50px;
}

table {
    width: 100%;
    border: 1px solid #444444;
  }

th, td {
    border: 1px solid #444444;
} */

#map {
    float: left;
    
}