@charset "UTF-8";

#korea {
    width: 700px;
    min-height: 700px;
    float: left;
    margin: 15px 35px;
    background-color: white;
}
#states path {
    fill: #efefef;
    stroke: white;
    stroke-width: 1px;
}

#states path:hover {
    fill: rgb(240, 220, 220);
}


#states path {
    cursor: pointer;
}

#states text {
    cursor: pointer;
    font-size: 8px;
    fill: #bbb;
}

rect.background {
    color: white;
    background-color: white;
    fill: white;
}
