@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.header-logo a{
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

a:hover{
    text-decoration: none;
}

body{
    margin: 0;
    background-color: white;
    
    
}

.header-logo a{
    color: rgb(238,224,219);

}

 header{
     display:flex;
     justify-content: space-between;
     align-items: center;
     background-color: black;
     
     flex-direction: row;
     flex-wrap: wrap;
    

 }
header .header-logo{
    font-size: 30px;
    color: white;
    padding-left: 90px;
    

}

header .header-user{
    display: flex;
    
}

header .header-user li {
    padding: 8px 12px;
    
}

header .header-user li a{
    color: white;
}



.main-wide img{
    
    width: 100%;
    height: 400px;

}

.header-button{
    display: flex;
    width: 100%;
    background-color:#5f1e09f1 ;
    justify-content: space-around;
    align-items: center;
    padding: 0 200px;
    height: 70px;
}
.header-button > .menu-button{
    height: 100%;
}

.header-button a {
    color:white;
    display: block;
    height: 100%;
}

.header-button a:hover{
    background-color:#612a18f1 ;
}

.header-button a span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 100%;
}


.wide-search button{
    background-color:#5f1e09f1;
}







/* 햄버거버튼 */
.ham-container{
    position: absolute;
    top: 15px;
    right: 9px;
}
.hamBtn{
    position: relative;
    transition: .35 ease-in-out;
    width: 25px;
    height: 19px;
    display: none;
    right: 9px;
}
.hamBtn span{
    position: absolute;
    height: 6px;
    border-radius: 4px;
    width: 100%;
    background-color: #3d4146;
    top: 0;
    transition: 0.2s;
    

}

.hamBtn span:nth-child(1){
    top: 0;
}
.hamBtn span:nth-child(2),
.hamBtn span:nth-child(3){
    top: 10px;
}
.hamBtn span:nth-child(4){
    top: 20px;
}

.hamBtn.active span:nth-child(1),
.hamBtn.active span:nth-child(4){
    opacity: 0;
}
.hamBtn.active span:nth-child(2){
    transform:rotate(45deg);
}
.hamBtn.active span:nth-child(3){
    transform:rotate(-45deg);
}
@media(max-width:768px){
    header{
        flex-direction: column;
        align-items: flex-start;
        padding:8px 15px;
        
        

        
    }
    header .header-logo{
        padding-left: 20px;
    }

    header .header-user{
 
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 5px;
        transition: .35 ease-in-out;

    }
    header .header-user li{
        width: 15%;
        
        align-self: flex-end;
       
    }
    header .header-user li a{
        justify-content: flex-end;
        display: flex;
        
    }
    .hamBtn{
        display: block;
    }
    header .header-user.active{
        display:flex;
        
    }
  
    
}